version: "3.9"

services:
  backend:
    build: ./backend
    container_name: calendar_backend
    volumes:
      - ./backend:/app
    ports:
      - "10000:10000"
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: calendar_frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: unless-stopped
